<a href="https://colab.research.google.com/github/matheus-haruki/Processamento-de-Linguagem-Natural/blob/main/Aula_2_Python_e_bibliotecas_PLN_Exerc%C3%ADcios_Propostos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objetivo do notebook:

Este notebook foi desenvolvido com o objetivo de praticar a lógica de programação em Python por meio da resolução de exercícios básicos. As atividades abrangem desde operações matemáticas simples até manipulação de strings e listas, com foco especial em problemas que envolvem entrada de dados, condicionais, ordenação e processamento de texto.

Técnicas de PLN Implementadas:

Embora o foco principal seja a lógica de programação, algumas técnicas introdutórias de Processamento de Linguagem Natural (PLN) foram utilizadas, como:
- Tokenização de palavras: separação de um texto em palavras usando o método split(), como no exercício que conta o número de palavras.

- Substituição de palavras: utilizando replace() para localizar e modificar trechos de texto.

- Segmentação de frases: divisão de um texto em frases com base em pontuação, especialmente o ponto final (.), aplicando split('.').

Essas técnicas fazem parte das etapas iniciais em projetos de PLN e são úteis para análise textual simples.

Exercícios

1 - Elaborar um programa que calcule e apresente o valor do volume de uma caixa retangular, utilizando a fórmula VOLUME <- COMPRIMENTO * LARGURA * ALTURA.

In [ ]:
print("Exercício 1")
print("Cálculo de volume de caixa")

comprimento = float(input("Digite o comprimento(cm): "))
largura = float(input("Digite a largura(cm): "))
altura = float(input("Digite a altura(cm): "))

volume = comprimento * largura * altura
print(f"Volume da caixa: {volume}cm³")

Exercício 1
Cálculo de volume de caixa
Digite o comprimento(cm): 3
Digite a largura(cm): 3
Digite a altura(cm): 3
Volume da caixa: 27.0cm³

2 - Criar um programa que leia um texto e conte o número de palavras.

In [ ]:
print("Exercício 2")
print("Leitor de número de palavras")

texto = input("Digite um texto: ")
palavras = texto.split()
print("Número de palavras:", len(palavras))

Exercício 2
Leitor de número de palavras
Digite um texto: teste teste teste 1 2 3
Número de palavras: 6

3 - Buscar e substituir palavras em um texto;

In [ ]:
print("Exercício 3")
print("Buscar e substituir palavras")

texto = input("Digite um texto: ")
buscar = input("Palavra a ser substituída: ")
substituir = input("Nova palavra: ")

novo_texto = texto.replace(buscar, substituir)
print("Texto atualizado:", novo_texto)

Exercício 3
Buscar e substituir palavras
Digite um texto: Meu esporte favorito é basquete.
Palavra a ser substituída: basquete
Nova palavra: futebol
Texto atualizado: Meu esporte favorito é futebol.

4 - Separar frases usando split() e iterar sobre elas.

In [ ]:
print("Exercício 4")
print("Separador de frases")

texto = input("Digite um texto com frases separadas por ponto: ")
frases = texto.split('.')
print("Frases:",frases)

Exercício 4
Separador de frases
Digite um texto com frases separadas por ponto: Olá. Meu nome é Matheus. Gosto de esportes. Moro no Brasil.
Frases: ['Olá', ' Meu nome é Matheus', ' Gosto de esportes', ' Moro no Brasil', '']

5 - Ler três valores inteiros representados pelas variáveis A, B e C e apresentar os valores lidos dispostos em ordem crescente.

In [ ]:
print("Exercício 5")
print("Ordem Crescente")

a = int(input("Digite o valor A: "))
b = int(input("Digite o valor B: "))
c = int(input("Digite o valor C: "))

valores = [a, b, c]
valores.sort()
print("Valores em ordem crescente:", valores)

Exercício 5
Ordem Crescente
Digite o valor A: 2
Digite o valor B: 643
Digite o valor C: 1
Valores em ordem crescente: [1, 2, 643]

6 - Fazer a leitura de quatro valores numéricos inteiros representados pelas variáveis A, B, C e D. Apresentar apenas os valores que sejam divisíveis por 2 e 3.

In [ ]:
print("Exercício 6")
print("Valores divisíveis por 2 e 3.")

a = int(input("Digite o valor A: "))
b = int(input("Digite o valor B: "))
c = int(input("Digite o valor C: "))
d = int(input("Digite o valor D: "))

valores = [a, b, c, d]
divisiveis = [valor for valor in valores if valor % 2 == 0 and valor % 3 == 0]

print("Valores divisíveis por 2 e 3:", divisiveis)

Exercício 6
Valores divisíveis por 2 e 3.
Digite o valor A: 6
Digite o valor B: 12
Digite o valor C: 18
Digite o valor D: 23
Valores divisíveis por 2 e 3: [6, 12, 18]

7 - Construir um programa que apresente todos os valores numéricos divisíveis por 4 e menores que 200

In [ ]:
print("Exercício 7")
print("Valores divisíveis por 4 e menors que 200.")

for i in range(1, 200):
    if i % 4 == 0:
        print(i)

Exercício 7
Valores divisíveis por 4 e menors que 200.
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180
184
188
192
196